<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello TodoistWebConsole!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <h1>Todoist web console</h1>
        <p>Sample web console to manage <a href="https://todoist.com">Todoist</a> tasks.</p>
        <h2>Command list</h2>
        <p><strong>list</strong> - lists all tasks</p>
        <p><strong>create <i>task_name</i></strong> - creates task</p>
        <p><strong>delete <i>task_id</i></strong> - deletes task by id</p>
        <p><strong>complete <i>task_id</i></strong> - completes task by id</p>
        <p><strong>reminder_add <i>task_id</i> <i>utc_time</i></strong> - adds reminder</p>
        <br />
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
